<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Common.ResourceLocator.ExternalUri" value="http://localhost/common.resourcelocator/" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
    <add key="Common.ResourceLocator.Uri" value="http://localhost/Common.Resourcelocator/"  xdt:Transform="Replace"  xdt:Locator="Match(key)" />
    <add key="Common.ResourceLocator.Partition" value="LOCALDEV"  xdt:Transform="Replace"  xdt:Locator="Match(key)" />
    <add key="RunBatchInIIS" value="True"  xdt:Transform="Replace"  xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="GRMDB" connectionString="Data Source=localhost;Database=LumenGold;Trusted_Connection=True;Connection Timeout=0;" providerName="System.Data.SqlClient" xdt:Transform="Replace"  xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
